
snippet init "Create class init func." bw 
def __init__(self${1:,arg}):
	${2:# TODO}
$0
endsnippet

snippet nie "Create a bass func." bw 
def ${1:fname}(self):
	raise NotImplementedError("${2:tip}")
$0
endsnippet
