
snippet pt "Part comment." bw 
" \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
" =============== ${1:todo}
" ///////////////$0
endsnippet

snippet pyenv "Set python env." bw 
let g:python3_host_prog="${1}"
let g:python_host_prog="${2}"
$0
endsnippet

