# === system ===
.DS_Store

# === nvim ===
/plugged
/tmp
/sessions
/autoload/plug.vim.old

init.vim.html
_machine_specific.vim
vimrc


# === not ignore ===
!/fptplugin/*
!/vim.basic/*
!/vim.plugin/*
!/vim.plugin/*/*
!/vim.customtools/*
!/vim.customtools/*


# === other ===

.netrwhist
vs-settings.json
.VsCodeCounter/
nvim.log
