# ignore everything

# === nvim ===
/plugged
/tmp

init.vim.html
_machine_specific.vim

.*.*
*.vim*
vimrc

.netrwhist
t.js

!/basic.config/*
!/plugin.config/*
!/customtools.config/*

test.py

.DS_Store
