# ignore everything

.DS_Store

# === nvim ===
/plugged
/tmp

init.vim.html
_machine_specific.vim

.*.*
*.vim*
vimrc

.netrwhist

!/fptplugin/*
!/vim.basic/*
!/vim.plugin/*
!/vim.plugin/*/*
!/vim.customtools/*
!/vim.customtools/*

vs-settings.json
.VsCodeCounter/
